#menu{
    height: 50px;
}

#menu ul {
    text-decoration: none;
    list-style: none;
    line-height: 50px;
}

.item{
    height: 150px;
}

footer{
    height: 50px;
    line-height: 50px;
}

.lateral{
    height: 350px;
}
.col-3{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}
.row{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.lateral > div{
    height: 50px;
}